<link rel="stylesheet" type="text/css" href="styles/blackjack.css">

<h1>
Blackjack
</h1>

<%
suit = [
	"<div class='black palo'>&clubs;</div>",
	"<div class='red palo'>&diams;</div>",
	"<div class='red palo'>&hearts;</div>",
	"<div class='black palo'>&spades;</div>",
]
%>

<div class="mesa">
	<div id="croupier">

		<%  @@game.finished? ? limit = -1 : limit = -2 %>
	
		<% for card in @@game.croupier.hand[0..limit] do %>

			<div class="card">
				<%=	suit[card.suit] %> 
				<div class="numero">
					<%= card.symbol %>
				</div>
			</div>

		<% end %>
		
		<% if not @@game.finished? %>
		<div class="blank-card card">
				
		</div>
		<% end %>

	</div>	
	<div id="jugador">
		<% for card in @@game.players[0].hand do %>
			<div class="card">
				<%=	suit[card.suit] %> 
				<div class="numero">
					<%= card.symbol %>
				</div>
			</div>

		<% end %>
	</div>
</div>


<h2>
Total: <%= @@total %>
</h2>
<% if not @resultado %>
	<a class="boton" href='/pedir'>Pedir</a>
	<a class="boton" href='/plantarme'>Plantarme</a>
<% end %>
<h3>
<%= @resultado %>
</h3>
<a class="boton" href='/blackjack'>Juego nuevo</a>
<a class="boton" href='/ronda'>Nueva ronda</a>
